.svgbox {
  margin-bottom: 1.15em;
}

.srtable {
  margin-bottom: 1.15em;
  border-collapse: collapse;
}

.srtable th, .srtable td {
  padding: 5pt;
}

.state_header { }
.query_header { }
.history_header { }
.name_td { }
.sr_td {
  border: 1pt solid black;
}

.srtable_hover_table {
  background-color: rgb(253, 253, 150);
}

svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%;
}

svg .node_label {
  font-size: 12pt;
  font-family: monospace;
}

svg .node_axis {
  stroke: gray;
  stroke-width: 0.5;
  stroke-linecap: round;
}

svg .node_state_text {
  font-family: monospace;
  font-size: 10pt;
  text-anchor: middle;
  alignment-baseline: central;
}

svg .node_state_circle {
  r: 15;
  fill: white;
  stroke: black;
  stroke-width: 1;
}

svg .node_state_circle_hovered {
  r: 15;
  fill: rgb(253, 253, 150);
  stroke: black;
  stroke-width: 1;
}

svg .edge_line {
  stroke: black;
  stroke-width: 1;
}

svg .edge_text {
  font-family: monospace;
  font-size: 10pt;
}

svg .edge_id {
  font-family: monospace;
  font-size: 10pt;
}
