.svgbox {
  margin-bottom: 1.15em;
}

svg {
  /*border: 1px solid black;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%;
}

svg .nodecircle { }

svg .nodetext {
  font-size: 12pt;
  font-family: monospace;
}

svg .clientname {
  font-size: 12pt;
  font-family: monospace;
}

svg .clientline {
  stroke-width: 4;
  stroke-linecap: round;
}

svg .clienttext {
  font-family: monospace;
  font-size: 8pt;
}

svg .clientaxis {
  stroke: gray;
  stroke-width: 0.5;
  stroke-linecap: round;
}

svg .clientprogress {
  stroke: black;
  stroke-width: 1;
}

svg .msg {
  r: 6;
}

svg .partition {
  stroke: black;
  stroke-width: 2;
  fill: transparent;
}

svg .dsline {
  stroke: black;
  stroke-width: 2;
}

svg .linbar {
  stroke-width: 16;
  stroke-linecap: round;
}

svg .lincalltext, svg .linresptext, svg .linregtext {
  font-size: 8pt;
  font-family: monospace;
  text-anchor: middle;
  alignment-baseline: central;
}

svg .linline {
  stroke: black;
  stroke-width: 3;
}

svg .linregbox {
  stroke: black;
  stroke-width: 1;
  fill-opacity: 0.4;
}

svg .lintimeline {
  stroke: black;
  stroke-width: 2;
  stroke-opacity: 0.5;
}
